<form [formGroup]="searchForm">
    <div class="row">
        <div class="col-lg">
            <div class="p-2">
                <label>Location : </label><br>
                <p-autoComplete type="text" 
                    [suggestions]="filteredLocation" 
                    formControlName="location"
                    (onSelect)="onSelectLocation($event)" 
                    (completeMethod)="filterLocation($event)" 
                    [size]="30"
                    [minLength]="1" 
                    placeholder="Enter a location" 
                    [dropdown]="true">
                    
                    <ng-template let-location pTemplate="item">
                        <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
                            <div style="font-size:18px;float:right;margin:10px 10px 0 0">
                                {{location.id}}&nbsp;&nbsp;&nbsp;&nbsp;{{location.gamingDate}}&nbsp;&nbsp;&nbsp;&nbsp;{{location.shiftCode}}
                            </div>
                        </div>
                    </ng-template>
                </p-autoComplete>

                <pre>{{ location | json }}</pre>
            </div>
        </div>
    </div>

    <ng-container *ngIf="searchForm.controls.location.valid">
        <div class="row">
            <div class="col-lg">
                <div class="p-2">
                    <label>Gaming Date : </label><br>
                    <p-calendar [(ngModel)]="value" placeholder="Select Date" formControlName="gamingDate"></p-calendar>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg">
                <div class="p-2">
                    <label>Shift Type : </label><br>
                    <p-dropdown [options]="shiftData" formControlName="shiftType" optionLabel="code" [autoDisplayFirst]="false"></p-dropdown>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg">
                <div class="p-2">
                    <button type="button" class="btn btn-primary" (click)="onRetrieve()">Retrieve</button>
                </div>
            </div>
        </div>
    </ng-container>
</form>